@import '../../theme/variables';

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 0.1rem solid $color-gray-light;
    padding: 4rem 3rem;
    border-radius: 0.8rem;
    width: 100%;
    height: 30rem;
    margin: 0 auto 3rem auto;
  }

  &__boxContainer {
    position: relative;
  }

  &__boxContainerBad {
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    color: $color-red;
    font-size: $font-size-s;
  }

  &__boxContainerGood {
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    color: green;
    font-size: $font-size-s;
  }

  &__boxWord {
    font-size: $font-size-m;
    background-color: inherit;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    border: 0.1rem solid $color-white;
  }

  &__boxWordChecked {
    @extend .game__boxWord;

    color: $color-violet;
    border: 0.1rem solid $color-violet;
  }

  &__boxWordCheckedGood {
    @extend .game__boxWordChecked;

    color: green;
    border: 0.1rem solid green;
  }

  &__boxWordCheckedBad {
    @extend .game__boxWordChecked;

    color: $color-red;
    border: 0.1rem solid $color-red;
  }

  &__title {
    text-align: center;
    font-size: $font-size-xl;
    font-weight: $font-semiBold;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }
}
