@import '../../theme/variables';

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 0.1rem solid $color-gray-light;
  padding: 2rem 3rem;
  border-radius: 0.8rem;
  max-width: 30rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;

  &__input {
    width: 24rem;
    height: 4rem;
    padding: 0 1.5rem;
    font-weight: $font-regular;
    font-size: $font-size-m;
    line-height: $line-height-m;
    font-family: 'Poppins', sans-serif;
    border: 0.1rem solid $color-gray-light;
    border-radius: 0.8rem;
    margin-right: 0;

    &:focus {
      outline-style: inherit;
      border: 0.1rem solid $color-violet;
    }
  }

  &__title {
    text-align: center;
    font-size: $font-size-xl;
    font-weight: $font-semiBold;
  }
}
